<div class="card w-100 h-100">
    <div class="card-header bg-light">
        Available Balance <br>
        <span class="text-success">N0.00</span>
    </div>
    <div class="card-body">
       <mat-tab-group mat-stretch-tabs dynamicHeight class="example-stretched-tabs">
        <mat-tab label="DEPOSIT">
            <div class="form-group w-70 mt-5">
                <label for="deposit">Amount</label>
                <div class="row">
                    <div class="col-7">
                        <input type="text" name="deposit" id="" class="form-control w-100" placeholder="" aria-describedby="helpId">
                    </div>
                    <div class="col">
                    <button class="btn btn-primary d-block text-nowrap btn-sm" type="button" aria-label="">MAKE DEPOSIT</button>
                    </div>
                </div>
                <small id="helpId" class="text-muted">Inclusive of N1000.00 transaction fee</small>
            </div>
        </mat-tab>
        <mat-tab label="WITHDRAW">
            <div class="form-group w-70 mt-5">
                <label for="deposit">Amount</label>
                <div class="row">
                    <div class="col-7">
                        <input type="text" name="deposit" id="" class="form-control w-100" placeholder="" aria-describedby="helpId">
                    </div>
                    <div class="col">
                    <button class="btn btn-primary d-block" type="button" aria-label="">WITHDRAW</button>
                    </div>
                </div>
                <small id="helpId" class="text-muted">Inclusive of N1000.00 transaction fee</small>
            </div>
        </mat-tab>
        <mat-tab label="TRANSACTION HISTORY">
        <div class="example-container mat-elevation-z8">

            <table mat-table [dataSource]="dataSource" matSort class="w-100 history-table">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef mat-sort-header> DATE </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="position"> {{element.position}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="name"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef mat-sort-header> AMOUNT </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="weight"> {{element.weight}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef mat-sort-header> BALANCE </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="symbol"> {{element.symbol}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="status"> {{element.symbol}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
            <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator> 
        </div>
        </mat-tab>
        </mat-tab-group>
    </div>
</div>