<div class="row bg-white my-4 mr-md-2">
    <div class="col-12 col-md-3 text-center">
        <img src="assets/icons/nestle-icon.png" alt="profile image" class="my-4"><br>
        <span class="font-bold mb-4">info@gmail.com</span><br><br>
        <span class="font-bold mb-4">Manufacturer</span><br><br>
        <span class="chip mt-3 text-success py-1 px-3 mb-4">Active</span><br><br>
            <a href="#" class="text-dark h6">Change Password</a>
    </div>

    <div class="col-12 col-md-5">
        <form >
            <div class="row settings-row pr-md-4">
                <div class="col-12 font-bold mb-4 h6 mt-4">
                    Edit Your Personal Settings
                </div>
                <div class="col-3 text-muted mb-4 d-flex align-items-center">
                    Full Name
                </div>
                <div class="col-9 mb-4">
                    <input type="text" class="form-control font-bold" name="" id="" aria-describedby="helpId" placeholder="Nestle">
                </div>
                <div class="col-3 text-muted mb-4">
                    Email
                </div>
                <div class="col-9 mb-4 font-bold">
                    info@gmail.com
                </div>
                <div class="col-3 mb-4 text-muted">
                    Client ID
                </div>
                <div class="col-9 mb-4 font-bold">
                    99001158267
                </div>
                <div class="col-6 mb-4 text-center">
                    <div class="form-group">
                    <label for="Country" class="text-center text-muted">Country</label>
                    <input type="text" name="Country" class="form-control font-bold" value="Nigeria">
                    </div>
                </div>
                <div class="col-6 mb-4 text-center">
                    <div class="form-group">
                    <label for="State" class="text-center text-muted">State/Province/Region</label>
                    <input type="text" name="State" class="form-control font-bold" value="Lagos">
                    </div>
                </div>
                <div class="col-6 mb-4 text-center">
                    <div class="form-group">
                    <label for="PostalCode" class="text-center text-muted">Postal Code</label>
                    <input type="text" name="PostalCode" class="form-control font-bold text-center" value="110195">
                    </div>
                </div>
                <div class="col-6 mb-4 text-center">
                    <div class="form-group">
                    <label for="PhoneNumber" class="text-center text-muted">Phone Number</label>
                    <input type="tel" name="PhoneNumber" class="form-control font-bold text-center" value="+234 801 234 5678">
                    </div>
                </div>
                <div class="col-6">
                    <span class="text-muted">Address</span><br><br> 

                    <p class="font-bold">123 Melvina Way Coves</p>
                </div>
                <div class="col-6">
                     <span class="text-muted">Factory Locations</span><br><br>

                     <p class="w-100 font-bold">
                        123 Allen Way British Estate
                        123 Alexa Way Coves
                        121 Avenue Colombiana
                     </p>
                </div>
                <div class="col-6">
                    <mat-chip-list>
                        <mat-chip>Maize</mat-chip>
                        <mat-chip>Coffee</mat-chip>
                        <mat-chip>Cocoa</mat-chip>
                        <mat-chip>Soybeans</mat-chip>
                    </mat-chip-list>
                </div>
                <div class="col-12 text-right mb-4">
                    <button type="submit" class="btn btn-primary w-40">Edit</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-12 col-md-4 px-4">
        <div class="col-12 h6 font-bold pl-0 my-4">Bank Details</div>
        <form>
            <div class="form-group">
              <label for="bankName" class="text-muted">Bank Name</label>
              <input type="text" name="bankName"  class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label for="accountName" class="text-muted">Account Name</label>
              <input type="text" name="accountName"  class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label for="accountNumber" class="text-muted">Account Number</label>
              <input type="tel" name="accountNumber"  class="form-control" placeholder="">
            </div>

            <button type="submit" class="btn btn-primary float-right w-40 mb-4">Add Bank</button>
        </form>
    </div>
</div>