<div class="row mt-3">
    <div class="col-md-9 col-12">
        <div class="row">
            <div class="col-4 mb-3 col-md-auto">
                <div class="card fake-btn" [class.bg-primary] ="activeProduce == 'Coffee'" (click)="activeProduce = 'Coffee'">
                    <div class="card-body px-1 px-md-4 text-center text-bold">
                        Coffee
                    </div>
                </div>
            </div>
            <div class="col-4 mb-3 col-md-auto">
                <div class="card fake-btn"  [class.bg-primary] ="activeProduce == 'Maize'" (click)="activeProduce = 'Maize'">
                    <div class="card-body px-1 px-md-4 text-center text-bold">
                        Maize
                    </div>
                </div>
            </div>
            <div class="col-4 mb-3 col-md-auto">
                <div class="card fake-btn"  [class.bg-primary] ="activeProduce == 'Cocoa'" (click)="activeProduce = 'Cocoa'">
                    <div class="card-body px-1 px-md-4 text-center text-bold">
                        Cocoa
                    </div>
                </div>
            </div>
            <div class="col-4 mb-3 col-md-auto">
                <div class="card fake-btn"  [class.bg-primary] ="activeProduce == 'Soybean'" (click)="activeProduce = 'Soybean'">
                    <div class="card-body px-1 px-md-4 text-center text-bold">
                        Soybean
                    </div>
                </div>
            </div>
            <div class="col-4 mb-3 col-md-2">
                <div class="card fake-btn">
                    <div class="card-body px-1 px-md-4 py-3 text-center text-bold">
                        <mat-icon>add</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col px-1 px-md-3">
                <span class="h4 fake-btn text-nowrap" (click)="detailsExpanded = !detailsExpanded">
                {{ activeProduce }}
                <mat-icon *ngIf="!detailsExpanded">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="detailsExpanded">keyboard_arrow_up</mat-icon>
                </span>
            </div>
            <div class="col text-center px-1 px-md-3">
                <small class="text-muted">
                    Last Price
                </small><br>
                <div class="gap-2"></div>
                <span class="text-bold">
                    605,458.00 &nbsp;&nbsp;&nbsp;NGN/t
                </span>
            </div>
            <div class="col text-center px-1 px-md-3">
                <small class="text-muted">
                    Volume
                </small><br>
                <div class="gap-2"></div>
                <span class="text-bold">
                    24
                </span>
            </div>
            <div class="col px-1 px-md-3">
                <small class="text-muted">
                    Time
                </small><br>
                <mat-menu #timeMenu="matMenu">
                <button mat-menu-item>2 hours</button>
                <button mat-menu-item>3 hours</button>
                </mat-menu>

                <button mat-icon-button class="" [matMenuTriggerFor]="timeMenu">
                1 hour
                <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </div>
        </div>

        <div class="row mt-4">

           <div class="col-12 bg-white" *ngIf="detailsExpanded">
            <div class="table-responsive-sm">
                 <table  class="table table-borderless">
                <thead>
                    <tr>
                        <th class="w-md-40">Transaction ID</th>
                        <th>Commodity</th>
                        <th>No. of Contracts</th>
                        <th>Total Volume</th>
                        <th>Delivery Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="w-md-40">CX32ML/WNXV</td>
                        <td>Coffee</td>
                        <td>5</td>
                        <td>120t</td>
                        <td>4 - 02 - 20</td>
                    </tr>
                </tbody>
            </table>
            </div>

            <mat-list role="list">

                <div mat-subheader>Findings:</div>
                <mat-list-item role="listitem">Average Net Weight per bag</mat-list-item>
                <mat-list-item role="listitem">Total No. of Bags</mat-list-item>
                <mat-list-item role="listitem">Total Gross Weight</mat-list-item>
                <mat-list-item role="listitem">Total Tare Weight of Bags</mat-list-item>
                <mat-list-item role="listitem">Total Net Weight</mat-list-item>

                <div mat-subheader></div>
                <mat-list-item role="listitem">Moisture Content</mat-list-item>
                <mat-list-item role="listitem">Admixture</mat-list-item>
                <mat-list-item role="listitem">Weevil Damage</mat-list-item>
                <mat-list-item role="listitem">Rotten Grains</mat-list-item>
                <mat-list-item role="listitem">Broken Grains</mat-list-item>
                <mat-list-item role="listitem">Weevil Infected</mat-list-item>
            </mat-list>
           </div>

            <div class="chart">
                <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType">
                </canvas>
            </div>
            <div class="chart chart-container">
                <canvas class="canvas2"
                        baseChart
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType">
                </canvas>
            </div>
        </div>

    </div>

    <div class="col-md-3 col-12 d-flex align-items-start pt-md-5 mb-md-5 pl-md-3">
        <div class="mt-md-5">
            <h1 class="text-bold">Balance</h1>
            <div class="card mat-elevation-z1 w-100">
                <div class="card-body">
                       <form class="w-100">
                           <div class="form-group row">
                               <label for="noc" class=" col-form-label">Number of Contract(s)</label>
                                   <input type="text" class="form-control w-100" name="noc" placeholder="">
                           </div>
                           <div class="form-group row">
                                   <a class="btn btn-secondary btn-block disabled">1 contract equals 30 tons</a>
                           </div>
                           <div class="form-group row">
                                    <div class="col-12 text-bold mb-3 pl-1">Delivery</div>
                                        <div class="col col-md-3 mb-2 mb-md-0 px-1">
                                            <button type="button" class="btn balance-btn btn-outline-primary btn-sm text-nowrap px-md-1 h-100">Spot</button>
                                        </div>
                                        <div class="col-6 col-md-3 mb-2 mb-md-0 px-1">
                                            <button type="button" class="btn balance-btn btn-outline-primary btn-sm text-nowrap px-md-1">3 Months</button>
                                        </div>
                                        <div class="col-6 col-md-3 mb-2 mb-md-0 px-1">
                                            <button type="button" class="btn balance-btn btn-outline-primary btn-sm text-nowrap px-md-1">6 Months</button>
                                        </div>
                                        <div class="col-6 col-md-3 mb-2 mb-md-0 px-1">
                                            <button type="button" class="btn balance-btn btn-outline-primary btn-sm text-nowrap px-md-1">9 Months</button>
                                        </div>
                           </div>
                           <div class="form-group row">
                                   <button type="submit" class="btn btn-primary btn-block">Proceed</button>
                           </div>
                       </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-12">
         <div class="row mt-5">
            <mat-tab-group mat-stretch-tabs dynamicHeight class="w-100">
                <mat-tab class="text-bold" label="Pending Offers">
                
                    <mat-table [dataSource]="dataSource" class="w-100 table-responsive-sm">

                        <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="trader">
                            <mat-header-cell *matHeaderCellDef> TRADER </mat-header-cell>
                            <mat-cell *matCellDef="let offer" data-label="trader"> {{offer.trader}} </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="price">
                            <mat-header-cell *matHeaderCellDef> PRICE </mat-header-cell>
                                <mat-cell *matCellDef="let offer; let i = index" data-label="price">
                                    <input type="text" class="form-control mr-0 mr-md-3 w-60 w-md-100 float-right" #bidEdit value="{{ offer.price }}" *ngIf="edit( i ) == true" on-focusout="cancelBid()">
                                    <span *ngIf="edit( i ) == false"> {{offer.price}} </span>
                                </mat-cell>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="contract">
                            <mat-header-cell *matHeaderCellDef> CONTRACT </mat-header-cell>
                            <mat-cell *matCellDef="let offer" data-label="contract"> {{offer.contract}} &nbsp;(7) </mat-cell>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="totalPrice">
                            <mat-header-cell *matHeaderCellDef> TOTAL PRICE </mat-header-cell>
                            <mat-cell *matCellDef="let offer" data-label="total Price"> {{offer.totalPrice}} </mat-cell>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="viewOffer">
                            <mat-header-cell *matHeaderCellDef> VIEW OFFER </mat-header-cell>
                            <mat-cell *matCellDef="let offer; let i = index" data-label="view Offer"> 
                                <mat-menu #viewOffer="matMenu">
                                <button mat-menu-item>Option 1</button>
                                <button mat-menu-item>Option 2</button>
                                </mat-menu>

                                <button mat-raised-button [matMenuTriggerFor]="viewOffer" color="primary"> 
                                VIEW
                                <mat-icon>keyboard_arrow_down</mat-icon>
                                </button>
                             </mat-cell>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="negotiate">
                            <mat-header-cell *matHeaderCellDef> NEGOTIATE </mat-header-cell>
                            <mat-cell *matCellDef="let offer; let i = index" data-label="negotiate"> 

                                <button mat-raised-button color="warn" (click)="bid(i)"> 
                                BID
                                </button>
                             </mat-cell>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="accept">
                            <mat-header-cell *matHeaderCellDef> ACCEPT </mat-header-cell>
                            <mat-cell *matCellDef="let offer; let i = index" data-label="accept"> 

                                <button mat-raised-button color="accent" *ngIf="edit( i ) == false"> 
                                <mat-icon>check</mat-icon>
                                </button>
                             </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>

                        <mat-paginator [length]="resultsLength" [pageSize]="5" #firstpaginator="matPaginator"></mat-paginator>
                 </mat-tab>

                <mat-tab class="text-bold" label="Transanction History">
                    <mat-table [dataSource]="historySource" class="mat-elevation-z8 w-md-100 table-responsive-sm">

                        <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->

                        
                        <ng-container matColumnDef="sn">
                            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                            <mat-cell *matCellDef="let history; let i = index" class="text-muted" data-label="no."> {{ i + 1 }} </mat-cell>
                        </ng-container>

                        
                        <ng-container matColumnDef="transactionId">
                            <mat-header-cell *matHeaderCellDef> TRANSACTION ID </mat-header-cell>
                            <mat-cell *matCellDef="let history" data-label="transaction Id"> {{history.transactionId}} </mat-cell>
                        </ng-container>

                        
                        <ng-container matColumnDef="deliveryDate">
                            <mat-header-cell *matHeaderCellDef> DELIVERY DATE </mat-header-cell>
                            <mat-cell *matCellDef="let history" data-label="delivery Date"> {{history.deliveryDate}} </mat-cell>
                        </ng-container>

                        
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
                            <mat-cell *matCellDef="let history" data-label="status"> {{history.status}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="historyColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: historyColumns;"></mat-row>
                        </mat-table>

                        <mat-paginator [length]="resultsLength" [pageSize]="5" #historypaginator="matPaginator"></mat-paginator> 
                 </mat-tab>

                <mat-tab class="text-bold" label="Active orders(0)">
                    Active orders(0) 
                 </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="col-md-3 col-12 pt-5">
    <span class="font-weight-bold">News Update</span>
        <div class="card mt-2">
            <div class="card-header bg-primary text-light">
                News/Latest Stories
            </div>
            <div class="card-body px-1">
                <mat-list>
                <mat-list-item>
                    <div matLine> 
                        <mat-icon class="small">info</mat-icon>
                        <a href="#" class="xsmall">Farmers' Harvest set to boom due to rainy season.</a></div>
                        <div matLine><a href="#" class="xsmall">from infodock</a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="xsmall">30 minutes ago</span></div>
                </mat-list-item>
                <mat-list-item>
                    <div matLine> 
                        <mat-icon class="small">info</mat-icon>
                        <a href="#" class="xsmall">Farmers' Harvest set to boom due to rainy season.</a></div>
                        <div matLine><a href="#" class="xsmall">from infodock</a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="xsmall">30 minutes ago</span></div>
                </mat-list-item>
                <mat-list-item>
                    <div matLine> 
                        <mat-icon class="small">info</mat-icon>
                        <a href="#" class="xsmall">Farmers' Harvest set to boom due to rainy season.</a></div>
                        <div matLine><a href="#" class="xsmall">from infodock</a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="xsmall">30 minutes ago</span></div>
                </mat-list-item>
                </mat-list>

                <div>
                    <button mat-button>
                        <mat-icon>keyboard_arrow_down</mat-icon> <span class="text-primary">More</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>