<mat-toolbar  class="mat-elevation-z2 bg-white px-0 px-md-4">
 <button mat-icon-button (click)="clickMenu()" *ngIf="sidenav.screenWidth < 840"><mat-icon>menu</mat-icon></button>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <!-- Desktop menu options -->
    <button mat-icon-button class="mr-1 mr-md-4" *ngIf="sidenav.screenWidth > 840">
      <mat-icon matBadge="15" matBadgeColor="warn" class="h1">notifications_none</mat-icon>
    </button>
  <div class='mr-1 mr-md-4 small balance' *ngIf="sidenav.screenWidth > 840">
    BALANCE <br>
    <span class="text-success">N0.00</span>
  </div>
  <div class="h-100 mr-1 mr-md-4" *ngIf="sidenav.screenWidth > 840">
    <img class="header-img" src="assets/icons/nestle-icon.png" alt="nestle icon">
  </div>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Dropdown 1</button>
    <button mat-menu-item>Dropdown 2</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu" class="mr-md-4" *ngIf="sidenav.screenWidth > 840">
    Nestle
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <!-- moobile menu options -->

<button mat-icon-button [matMenuTriggerFor]="resMenu" *ngIf="sidenav.screenWidth < 840">
    <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item>Dropdown 1</button>
  <button mat-menu-item>Dropdown 2</button>
</mat-menu>

  <mat-menu #resMenu="matMenu">
    <!-- <button mat-menu-item>
    Settings
    </button> -->
    <button mat-menu-item>
        <button mat-icon-button>
            <mat-icon matBadge="15" matBadgeColor="warn" class="h1">notifications_none</mat-icon>
        </button>
    </button>
    <button mat-menu-item>
        <div class="small balance">
            BALANCE <br>
            <span class="text-success">N0.00</span>
        </div>
    </button>
    <button mat-menu-item>
       <div class="h-100">
        <img class="h-100" src="assets/icons/nestle-icon.png" alt="nestle icon">
      </div>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="subMenu">
        <button mat-icon-button>
            Nestle
        </button>
    </button>
</mat-menu>
</mat-toolbar>